

.homepage{
  background-image: url("../images/background.png");

  margin: 0;
  padding: 0;
  /* min-width: 100% !important; */
  height: 100vh !important;
  /* background-attachment: fixed !important; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 80%;
  overflow: hidden !important;
  z-index: -100;
}

.modal {
  display: none;
  z-index: 12;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  box-sizing: border-box;
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 2%;
  text-align: center;
  border-radius: 3rem;
}

.content-welcome {
  width: 30%;
  padding: 3% 0;
}

.content-earlyBird {
  width: 40%;
  padding: 30px;
}

.content-earlyBird .timer{
  padding: 5px;
  width: 25%;
  margin: auto;
  background-color: lightgrey;
  border-radius: 1rem;
}

.content-faq {
  width: 40%;
  padding: 20px;
}

.content-faq h4 {
  margin-bottom: 20px;
}

.content-faq ol {
  text-align: left;
}

.chat {
  width: 40%;
  margin: auto;
  height: 45px;
  line-height: 45px;
  background-color: #25d366;
  border-radius: 2rem;
  border: none;
  /* float: left; */
}

.chat:focus {
  border: none;
  outline: none;
}

.content-faq a {
  text-decoration: none;
  color: white;
}

.content-faq p {
  display: inline;
  font-weight: bold;
}

.fa-whatsapp {
  vertical-align: middle;
  margin: auto 10px 5px auto;
}

.content-earlyBird h6 {
  font-weight: normal;
  margin: 15px auto;
}

.btn-modal {
  padding: 5px;
  width: 25%;
  margin: auto;
  background-color: rgba(50, 130, 184, 0.9);
  border-radius: 1rem;
  border: none;
}

.btn-modal:hover {
  background-color: #3282b8;
}

.btn-modal:focus {
  outline: none;
}

.content-vcall {
  width: 30%;
  padding-top: 30px;
}

.content-vcall h4 {
  width: 60%;
  margin: auto;
}

.content-vcall h6 {
  font-weight: normal;
  margin: 35px auto;
  width: 60%;
}

.content-karet {
  width: 50%;
  padding: 40px;
}

.content-karet iframe {
  margin: 30px auto;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
  display: block;
  margin: 5px 15px 0 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.content-welcome h5 {
  font-weight: normal;
  border-bottom: 1px solid #000;
  padding-bottom: 7px;
  width: 60%;
  margin: 20px auto;
}

.lang-head {
  margin: 20px;
}

.lang-wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 10px;
}

.lang-wrapper .option_item {
  display: block;
  position: relative;
  width: 175px;
}

.lang-wrapper .option_item .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.option_item .option_inner {
  /* background: #fff; */
  /* border-radius: 5px;
  cursor: pointer;
  color: #585c68;
  border: 5px solid transparent; */
  /* padding: 10px; */
}

.option_item .checkbox:checked ~ .option_inner .flag {
  border-color: #3b5999;
  color: #3b5999;
}

.flag {
  width: 60%;
  border-radius: 5px;
  cursor: pointer;
  color: #585c68;
  border: 5px solid transparent;
}

.mx-auto {
  display: flex;
  margin: auto;
}


.planet {
  position: absolute;
  top: 10%;
  left: 65%;
}

.layer {
  pointer-events: auto;
}

/* LIVE MC */

.live-mc{
  position: absolute;
  left: 55%;
  bottom: -15%;
  width: 300px;
  height: 410px;
  background: url('../images/button/tvmc.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 150% auto;
  z-index: 10;
  /*border: 1px solid red;*/
}

.video-mc{
  position: absolute;
  left: 55%;
  bottom: 0%;
  width: 300px;
  height: 400px;
  /*border: 1px solid black;*/
}

.video-wrapper{
  position: relative;
  top: 57.5%;
  align-items: center;
  margin: auto;
  width: 60%;
  height: 40%;
  z-index: 9;
  /*border: 1px solid blue;*/
}

.video-wrapper iframe{
  -webkit-mask-image: url(../images/mask2.svg);
  -webkit-mask-repeat-x: round;
  width: 95%;
  height: 80%;
  margin: auto;
  z-index: 9;
}

@media screen and (min-width: 1900px){
  .live-mc{
    bottom: -9%;
    width: 400px;
    height: 500px;
  }

  .video-mc{
    bottom: -9%;
    width: 400px;
    height: 500px;
  }

  .video-wrapper{
  top: 28.5%;
  width: 55.5%;
  height: 41%;
}
}

/* Hide Image (load) */
.parent-jukebox img, .parent-gallery img, .parent-souvenir img, .parent-pelaminan img, .parent-angpao img{
  width: 28%;
  height: 45%;
  display: none;
}


/* SOUVENIR */
.parent-souvenir{
  position: absolute;
  left: 20%;
  top: 30%;
  width: 30%;
  height: 45%;
  /* border: 1px solid black; */
  z-index: 5;
}

.souvenir{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../images/button/souvenir-still.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 1px solid blue; */
  z-index: 5;
  cursor: default;
}

.div-souvenir{
  cursor: pointer;
  position: absolute;
  /* border: 1px solid orange; */
  left: 22%;
  top: 10%;
  width: 43%;
  height: 65%;
  z-index: 6;
}

.div-souvenir:hover ~ .souvenir{
  background: url('../images/button/souvenir-animated.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

/* GALLERY */
.parent-gallery{
  width: 35%;
  height: 50%;
  position: absolute;
  top: 4%;
  left: 1%;
  z-index: 3;
  /* border: 2px solid black; */
}

.gallery{
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('../images/button/galeri-still.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 1px solid yellow; */
  z-index: 3;
}

.div-gallery{
  position: absolute;
  left: 25%;
  top: 20%;
  width: 45%;
  height: 65%;
  z-index: 6;
  /* border: 2px solid purple; */
  cursor: pointer;
}

.div-gallery:hover ~ .gallery{
  background: url('../images/button/galeri-animated.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

/* PELAMINAN */
.parent-pelaminan{
  width: 30%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 35.5%;
  z-index: 3;
  /* border: 2px solid red; */
}

.pelaminan{
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('../images/button/pelaminan-still.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 1px solid pink; */
  z-index: 3;
}

.div-pelaminan{
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 70%;
  z-index: 6;
  /* border: 2px solid purple; */
  cursor: pointer;
}

.div-pelaminan:hover ~ .pelaminan{
  background: url('../images/button/pelaminan-animated.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

/* JUKEBOX */
.parent-jukebox{
  position: absolute;
  right: 5%;
  top: 22%;
  width: 30%;
  height: 60%;
  /* border: 1px solid black; */
}

.parent-jukebox a, .parent-gallery a{
  cursor: default;
}

.jukebox{
  position: absolute;
  /* right: 0;
  top: 40%; */
  width: 100%;
  height: 100%;
  background: url('../images/button/jukebox-still.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 1px solid blue; */
  z-index: 3;
}

.div-jukebox{
  position: absolute;
  left: 40%;
  top: 5%;
  width: 60%;
  height: 75%;
  /* border: 2px solid purple; */
  z-index: 4;
  cursor: pointer;
}

.div-jukebox:hover ~ .jukebox{
  background: url('../images/button/jukebox-animated.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

/* ANGPAO */
.parent-angpao{
  position: absolute;
  left: 3%;
  bottom: 0;
  width: 25%;
  height: 45%;
  /* border: 1px solid pink; */
}

.angpao{
  position: absolute;
  /* left: 3%; */
  /* bottom: 0; */
  width: 100%;
  height: 100%;
  background: url('../images/button/ayam-still.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 55% 100%;
  /* border: 1px solid red; */
  z-index: 6;
}

.div-ayam{
  position: absolute;
  left: 20%;
  top: 8%;
  width: 60%;
  height: 80%;
  /* border: 2px solid blue; */
  z-index: 7;
  cursor: pointer;
}

.parent-angpao img{
  width: 28%;
  height: 45%;
  display: none;
}

.div-ayam:hover ~ .angpao{
  background: url('../images/button/ayam-animated.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 55% 100%;
  cursor: auto;
}

/* Popup Angpao */
.modal-angpao {
  width: 800px !important;
  border-radius: 0 !important;
  padding: 10px !important;
  border-collapse: separate !important;
  border-radius: 3rem !important;
}

#angpaoModal h5 {
  font-weight: bold;
  border-bottom: 0;
  margin: 0 auto;
}

.qrcode-list {
  display: flex;
  margin: 5% 0;
}

.qrcode {
  flex: auto;
}

.qrcode p {
  margin-bottom: 0;
}

.ovo {
  margin-left: 50px;
}

.gopay {
  margin-right: 50px;
}

.bca {
  width: 40%;
}
