body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mobile-content{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.mobile-content h2{
  font-weight: normal;
  margin-top: 30px;
}

@media (max-width: 1300px){
  .desktop-content{
    display: none;
  }

  .mobile-content{
    display: block;
  }
}

/* @media (min-width: 1000px) and (max-width: 1370px) and (min-height: 1000px) and (max-width: 1370px){
  .desktop-content{
    display: none;
  }

  .mobile-content{
    display: block;
  }
} */

/* LOGIN */
.login-form{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* Welcoming popup */
/* The Modal (background) */
.modal {
  display: none;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  box-sizing: border-box;
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 20px;
  text-align: center;
  border-radius: 3rem;
}

.content-welcome {
  width: 30%;
  padding-top: 30px;
}

.content-earlyBird {
  width: 40%;
  padding: 30px;
}

.content-earlyBird .timer {
  padding: 5px;
  width: 25%;
  margin: auto;
  background-color: lightgrey;
  border-radius: 1rem;
}

.content-faq {
  width: 40%;
  padding: 20px;
}

.content-faq h4{
  margin-bottom: 20px;
}

.content-faq ol{
  text-align: left;
}

.chat{
  width: 40%;
  margin: auto;
  height: 45px;
  line-height: 45px;
  background-color: #25d366;
  border-radius: 2rem;
  border: none;
  /* float: left; */
}

.chat:focus{
  border: none;
  outline: none;
}

.content-faq a{
  text-decoration: none;
  color: white;
}

.content-faq p{
  display: inline;
  font-weight: bold;
}

.fa-whatsapp{
  vertical-align: middle;
  margin: auto 10px 5px auto;
}

.content-earlyBird h6 {
  font-weight: normal;
  margin: 15px auto;
}

.btn-modal {
  padding: 5px;
  width: 25%;
  margin: auto;
  background-color: rgba(50, 130, 184, 0.9);
  border-radius: 1rem;
  border: none;
}

.btn-modal:hover {
  background-color: #3282b8;
}

.btn-modal:focus {
  outline: none;
}

.content-vcall {
  width: 30%;
  padding-top: 30px;
}

.content-vcall h4 {
  width: 60%;
  margin: auto;
}

.content-vcall h6 {
  font-weight: normal;
  margin: 35px auto;
  width: 60%;
}

.content-karet {
  width: 50%;
  padding: 40px;
}

.content-karet iframe {
  margin: 30px auto;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
  display: block;
  margin: 5px 15px 0 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.content-welcome h5 {
  font-weight: normal;
  border-bottom: 1px solid #000;
  padding-bottom: 7px;
  width: 60%;
  margin: 20px auto;
}

.lang-head {
  margin: 20px;
}

.flag {
  width: 50%;
}

.lang-wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 10px;
}

.lang-wrapper .option_item {
  display: block;
  position: relative;
  width: 175px;
}

.lang-wrapper .option_item .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.option_item .option_inner {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  color: #585c68;
  border: 5px solid transparent;
  padding: 10px;
}

.option_item .checkbox:checked~.option_inner {
  border-color: #3b5999;
  color: #3b5999;
}

.flag {
  width: 80%;
  margin: 0;
}

.mx-auto {
  display: flex;
}

/* WEB TOUR */
.popover-title {
  border: 0;
  background-color: white;
  font-weight: bold;
  margin-top: 5px;
}

.popover-content {
  height: 60px;
  margin-bottom: 30px;
}

.popover-navigation .btn-sm{
  padding: 5px 15px !important;
}

.popover-navigation .btn-prev{
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  margin-right: 10px;
}

.popover-navigation .btn-next{
  background-color: rgba(53,78,157, 0.8);
  color: white;
  border-radius: 0.5rem;
}

.popover-navigation .btn-next:hover{
  color: white;
  background-color: rgb(53,78,157, 1);
}

.popover-navigation .btn-prev:hover{
  color: #333;
  border-color: #545b62;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.end {
  margin-left: 10px;
  border-radius: 0.5rem;
  border: 1px solid lightgrey;
  background-color: white;
  color: black
}

.end:hover{
  background-color: white;
}

.popover-navigation .btn:focus{
  outline: none;
  outline-offset: none;
  box-shadow: none;
}

.popover-navigation .btn:active{
  -webkit-box-shadow: none;
}

.end:not(:disabled):not(.disabled):active{
  background-color: white;
  border-color: #545b62;
  color: black;
  -webkit-box-shadow: none;
}

/* Homepage */
.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
  min-width: 100% !important;
  height: 100vh !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  overflow: hidden !important;
  z-index: -100;
}

.homepage{
  background-image: url("../images/background2.jpg") !important;
}

.gallery-page{
  background-color: lightblue;
}

.souvenir-page{
  background-color: lightblue;
}

/* Header */
.header {
  position: absolute;
  overflow: hidden;
  width: 70%;
  padding: 1.5%;
  float: right;
  left: 85%;
  margin: 1% auto;
}

.header-gallery{
  left: 80%;
}

/* Header icon */
.header-icon {
  width: 5%;
  margin: 1%;
}

.header-icon:hover {
  cursor: pointer;
}

.header-div {
  display: inline-block;
  width: 60%;
  /* z-index: 10; */
}

.info{
  margin-left: 4%;
}

/* Scene Parallax */
.planet {
  position: absolute;
  top: 30%;
  left: 65%;
}

.layer {
  pointer-events: auto;
}

/* LIVE MC */

.mc{
  position: absolute;
  left: 60%;
  bottom: 0;
  width: 20%;
  height: 40%;
}

.live-mc{
  position: absolute;
  left: 60%;
  bottom: 0%;
  width: 20%;
  height: 50%;
  background: url('../images/png-seq/tvmc.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 2;
}

.video-mc{
  position: absolute;
  left: 65%;
  bottom: 8%;
  width: 20%;
  height: 50%;
}

.video-mc iframe{
  width: 60%;
  height: 40%;
  pointer-events: none;
  position: absolute;
  top: 62%;
  left: -4%;
  /* display: inline-block; */
  -webkit-mask-box-image: url(../images/circle.png);

}

/* SOUVENIR */
.souvenir{
  position: absolute;
  left: 28%;
  top: 60%;
  width: 15%;
  height: 25%;
  background: url('../images/png-seq/statickaset.png');
  background-size: 160% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.souvenir:hover{
  cursor: pointer;
}

/* GALLERY */
.gallery{
  width: 25%;
  height: 40%;
  position: absolute;
  top: 17%;
  left: 0;
  perspective: 200px;
}

.gal{
  position: relative;
  width: 30%;
  height: 40%;
  background: url('../images/png-seq/tvtamu.png');
  background-repeat: no-repeat;
  background-position: 55% 65%;

}

.gallery1{
  left: 58%;
  top: 55%;
  background-size: 125% auto;
  transform: rotate3d(0, 1, 0, 15deg);
}

.gallery2{
  left: 35%;
  top: 18%;
  background-size: 130% auto;
  transform: rotate3d(0, 1, 0, 17deg);
}

.gallery3{
  left: 7%;
  top: -18%;
  background-size: 140% auto;
  transform: rotate3d(0, 1, 0, 19deg);
}

.gallery4{
  left: 22%;
  top: -86%;
  background-size: 130% auto;
  transform: rotate3d(0, 1, 0, 19deg);
}

.gallery5{
  left: 46%;
  top: -128%;
  background-size: 122% auto;
  transform: rotate3d(0, 1, 0, 19deg);
}

.gallery6{
  left: 33%;
  top: -193%;
  background-size: 122% auto;
  transform: rotate3d(0, 1, 0, 19deg);
}

/* ANGPAO */
.angpao{
  position: absolute;
  left: 15%;
  top: 70%;
  width: 13%;
  height: 30%;
  background: url('../images/png-seq/animatedayam.png');
  background-size: 220% auto;
  background-repeat: no-repeat;
  background-position: 55% 65%;
}

.angpao img{
  display: none;
}

.angpao:hover{
  background: url('../images/png-seq/staticayam.png');
  background-size: 220% auto;
  background-repeat: no-repeat;
  background-position: 55% 65%;
  cursor: pointer;
}

/* Popup Angpao */
/* Modal Content/Box */
.modal-angpao {
  width: 800px !important;
  border-radius: 0 !important;
  padding: 10px !important;
  border-collapse: separate !important;
  border-radius: 3rem !important;
}

#angpaoModal h5 {
  font-weight: bold;
  border-bottom: 0;
  margin: 0 auto;
}

.qrcode-list {
  display: flex;
  margin: 5% 0;
}

.qrcode {
  flex: auto;
}

.qrcode p {
  margin-bottom: 0;
}

.ovo {
  margin-left: 50px;
}

.gopay {
  margin-right: 50px;
}

.bca {
  width: 40%;
}

/* Language toggle */
/* New toggle */
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #292C35;
  border-radius: 50px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative !important;
  height: 20px;
  width: 40px;
  transform: scale(1.5);
  top: 14px;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 16px;
  width: 16px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
  transform: translateX(20px);
}

.uk {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 16px;
  width: 16px;
}

.ind {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 16px;
  width: 16px;
}
