/* font-family: 'Cinzel', serif;
font-family: 'Exo', sans-serif;
font-family: 'Kodchasan', sans-serif;
font-family: 'Questrial', sans-serif; */

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.heading{
  font-family: 'Cinzel', serif;
}

.title{
  font-family: 'Questrial', sans-serif;
}

.text{
  font-family: 'Kodchasan', sans-serif;
}

.text2{
  font-family: 'Exo', sans-serif;
}

.mobile-content {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.mobile-content h2 {
  font-weight: normal;
  margin-top: 30px;
}

.browser-resize{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  background-color: white;
}

.browserZoomOut{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  background-color: white;
}

.browserZoomIn{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  background-color: white;
}

@media (max-width: 1300px) {
  .desktop-content {
    display: none;
  }

  .mobile-content {
    display: block;
  }
}

@media (min-width: 1000px) and (max-width: 1370px) and (min-height: 1000px) and (max-width: 1370px) {
  .desktop-content {
    display: none;
  }

  .mobile-content {
    display: block;
  }
}

.transformZoomOut{
  transform: scale(0.9);
}

.transformZoomOut2{
  transform: scale(0.9) translateX(-50%);
}

.transformZoomOut80{
  transform: scale(0.8);
}

.textZoomIn{
  transform: scale(0.9);
}

/* LOADER */
.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loader img {
  width: 100px;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader-hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

/* Welcoming popup */
/* The Modal (background) */
/* .modal {
  display: none;
  z-index: 12;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  box-sizing: border-box;
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 2%;
  text-align: center;
  border-radius: 3rem;
}

.content-welcome {
  width: 30%;
  padding: 2% 0;
}

.content-earlyBird {
  width: 40%;
  padding: 30px;
}

.content-earlyBird .timer{
  padding: 5px;
  width: 25%;
  margin: auto;
  background-color: lightgrey;
  border-radius: 1rem;
}

.content-faq {
  width: 40%;
  padding: 20px;
}

.content-faq h4 {
  margin-bottom: 20px;
}

.content-faq ol {
  text-align: left;
}

.chat {
  width: 40%;
  margin: auto;
  height: 45px;
  line-height: 45px;
  background-color: #25d366;
  border-radius: 2rem;
  border: none;
}

.chat:focus {
  border: none;
  outline: none;
}

.content-faq a {
  text-decoration: none;
  color: white;
}

.content-faq p {
  display: inline;
  font-weight: bold;
}

.fa-whatsapp {
  vertical-align: middle;
  margin: auto 10px 5px auto;
}

.content-earlyBird h6 {
  font-weight: normal;
  margin: 15px auto;
}

.btn-modal {
  padding: 5px;
  width: 25%;
  margin: auto;
  background-color: rgba(50, 130, 184, 0.9);
  border-radius: 1rem;
  border: none;
}

.btn-modal:hover {
  background-color: #3282b8;
}

.btn-modal:focus {
  outline: none;
}

.content-vcall {
  width: 30%;
  padding-top: 30px;
}

.content-vcall h4 {
  width: 60%;
  margin: auto;
}

.content-vcall h6 {
  font-weight: normal;
  margin: 35px auto;
  width: 60%;
}

.content-karet {
  width: 50%;
  padding: 40px;
}

.content-karet iframe {
  margin: 30px auto;
} */

/* The Close Button */
/* .close {
  color: #aaa;
  float: right;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
  display: block;
  margin: 5px 15px 0 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.content-welcome h5 {
  font-weight: normal;
  border-bottom: 1px solid #000;
  padding-bottom: 7px;
  width: 60%;
  margin: 20px auto;
}

.lang-head {
  margin: 20px;
}

.lang-wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 10px;
}

.lang-wrapper .option_item {
  display: block;
  position: relative;
  width: 175px;
}

.lang-wrapper .option_item .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
} */

/* .option_item .option_inner { */
  /* background: #fff; */
  /* border-radius: 5px;
  cursor: pointer;
  color: #585c68;
  border: 5px solid transparent; */
  /* padding: 10px; */
/* } */

/* .option_item .checkbox:checked ~ .option_inner .flag {
  border-color: #3b5999;
  color: #3b5999;
}

.flag {
  width: 60%;
  border-radius: 5px;
  cursor: pointer;
  color: #585c68;
  border: 5px solid transparent;
}

.mx-auto {
  display: flex;
  margin: auto;
} */

/* WEB TOUR */
.popover-title {
  border: 0 !important;
  background-color: white !important;
  font-weight: bold !important;
  margin-top: 5px !important;
}

.popover-content {
  height: 60px !important;
  margin-bottom: 30px !important;
}

.popover-navigation .btn-sm {
  padding: 5px 15px !important;
}

.popover-navigation .btn-prev {
  border: 1px solid lightgrey !important;
  border-radius: 0.5rem !important;
  margin-right: 10px !important;
}

.popover-navigation .btn-next {
  background-color: rgba(53, 78, 157, 0.8) !important;
  color: white !important;
  border-radius: 0.5rem !important;
}

.popover-navigation .btn-next:hover {
  color: white !important;
  background-color: rgb(53, 78, 157, 1) !important;
}

.popover-navigation .btn-prev:hover {
  color: #333 !important;
  border-color: #545b62 !important;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0.5rem !important;
  border-top-left-radius: 0.5rem !important;
}

.end {
  margin-left: 10px !important;
  border-radius: 0.5rem !important;
  border: 1px solid lightgrey !important;
  background-color: white !important;
  color: black !important;
}

.end:hover {
  background-color: white !important;
}

.popover-navigation .btn:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}

.popover-navigation .btn:active {
  -webkit-box-shadow: none !important;
}

.end:not(:disabled):not(.disabled):active {
  background-color: white !important;
  border-color: #545b62 !important;
  color: black !important;
  -webkit-box-shadow: none !important;
}

/* Homepage */
.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
  /* min-width: 100% !important; */
  height: 100vh !important;
  /* background-attachment: fixed !important; */
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden !important;
  z-index: -100;
}

.countdown{
  position: absolute;
  z-index: 15;
  width: 15%;
  height: 17%;
  background-image: url(../images/countdown.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Exo', sans-serif;
  color: white;
  font-style: normal;
  font-weight: 100;
}

.inner-countdown{
  position: absolute;
  z-index: 15;
  width: 90%;
  height: 90%;
  margin-top: 15%;
}

.vl {
  border-left: 1px solid white;
  height: 45%;
  display: inline-block;
  float: left;
  margin-right: 15%;
  position: absolute;
  top: 30%;
  left: 10%;
}

.countdown span{
  position: relative;
  top: 2%;
  font-size: 18px;
}

.countdown p{
  font-size: 12px;
  margin: 0;
}

/* Header */
.header {
  position: absolute;
  overflow: hidden;
  width: 70%;
  padding: 1.5%;
  float: right;
  left: 85%;
  margin: 1% auto;
}

/* Header icon */
.header-icon {
  width: 5%;
  margin: 1%;
}

.header-icon:hover {
  cursor: pointer;
}

.header-div {
  display: inline-block;
  width: 60%;
}

.info {
  margin-left: 4%;
}

/* Language toggle */
/* New toggle */
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #292C35;
  border-radius: 50px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative !important;
  height: 20px;
  width: 40px;
  transform: scale(1.5);
  top: 14px;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 16px;
  width: 16px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
  transform: translateX(20px);
}

.uk {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 16px;
  width: 16px;
}

.ind {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 16px;
  width: 16px;
}
