/* 1080p */
@media screen and (min-width:1900px){

  .video-wrapper {
    top: 58.5%;
  }

  .animation{
    width: 35%;
    left: 12%;
  }

}

/* 1280 x 720p */
@media screen and (min-width: 1250px) and (max-width: 1300px) and (max-height: 740px){
  .animation{
    left: 15%;
    width: 30%;
  }
}
