/* 1080p */
@media screen and (min-width:1900px){

  .video-wrapper {
    top: 58.5%;
  }

  .animation{
    width: 35%;
    left: 12%;
  }

}

/* 1280 x 720p */
@media screen and (min-width: 1250px) and (max-width: 1300px) and (max-height: 740px){
  .animation{
    left: 15%;
    width: 30%;
  }
  .video-mc{
    right: 1.8%;
    width: 19.8%;
    bottom: 3%;
  }
}

/* 1280 x 800p */
@media screen and (min-device-width: 1250px) and (max-device-width: 1300px) and (min-device-height: 780px) and (max-device-height: 820px){
  .video-wrapper {
    top: 63%;
    height: 38%;
  }
  .inner-countdown{
    margin-top: 18%;
  }
}
