body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.btn-join{
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;

  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.btn-join:focus {
  background-color: #1d7d74;
}

.btn-join:hover {
  background-color: #2bbbad;
}

.popover-content {
  height: 30px !important;
  margin-bottom: 30px !important;
}

.modal {
  display: none;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-agora {
  z-index: 50;
}

.modal2 {
  position: absolute;
  display: none;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  box-sizing: border-box;
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 30px;
  width: 30%;
  text-align: center;
  border-radius: 3rem;
  z-index: 101;
}

.modal-content2 {
  box-sizing: border-box;
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 20px;
  text-align: center;
  border-radius: 3rem;
}

.modal-content2 h5 {
  font-weight: normal;
  border-bottom: 1px solid #000;
  padding-bottom: 7px;
  width: 60%;
  margin: 20px auto;
}

.content-karet {
  width: 50%;
  padding: 40px;
}

.content-karet iframe {
  margin: 30px auto;
}

.modal-content h5 {
  font-weight: normal;
  border-bottom: 1px solid #000;
  padding-bottom: 7px;
  width: 60%;
  margin: 20px auto;
}

/* Hide arrow UID input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Header */
.timer1{
  z-index: 10;
  padding: 5px;
  width: 10%;
  margin: auto;
  background-color: pink;
  border-radius: 1rem;
  position: absolute;
  left: 2%;
  top: 2%;
}

.header-icon {
  width: 50%;
  display: inline;
  padding-top: 20%;
  color: black;
}

.logout {
  display: inline;
  position: absolute;
  left: 95%;
  z-index: 30;
}

.pelaminan {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

.vidPosition {
  margin: 0;
  padding: 0;
}

.dot {
  height: 200px;
  width: 200px;
  background-color: lightblue;
  border-radius: 50%;
  border: 2px solid lightblue;
  display: inline-block;
  position: absolute;
  z-index: 10 !important;
}

.dot1 {
  bottom: 4%;
  left: 15%;
}

.dot2 {
  bottom: 32%;
  left: 2%;
}

.dot3 {
  bottom: 66%;
  left: 13%;
}

.dot4 {
  bottom: 67%;
  left: 42%;
}

.dot5 {
  bottom: 4%;
  right: 15%;
}

.dot6 {
  bottom: 32%;
  right: 2%;
}

.dot7 {
  bottom: 66%;
  right: 13%;
}

.wrapper-username{
  width: 100%;
  position: relative;
  top: 90%;
}

.username {
  position: absolute;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
}

.kotak {
  height: 100vh;
  width: 100vw;
  background-color: #bbb;
  display: inline-block;
  position: absolute;
  z-index: 5 !important;
  overflow: hidden;
}

.video-view2, .video-placeholder2 {
  height: 100vh;
  width: 100vw;
  display: inline-block;
  position: absolute;
  /* overflow: hidden; */
}
