body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
}

/* Modal Content/Box */
.modal-content {
  box-sizing: border-box;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 30px;
  width: 30%;
  text-align: center;
  border-radius: 3rem;
}

.modal-content h5 {
  font-weight: normal;
  border-bottom: 1px solid #000;
  padding-bottom: 7px;
  width: 60%;
  margin: 20px auto;
}

/* Hide arrow UID input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Header */
.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100vw !important;
  height: 40px !important;
  overflow: hidden !important;
}

/* Header icon */
.header-icon {
  width: 2%;
  display: inline;
  padding-top: 1%;
}

.logout {
  display: inline;
  position: relative;
  left: 95%;
}

.pelaminan {
  /* background-image: url(../images/background.jpg); */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.vidPosition {
  margin: 0;
  padding: 0;
}

.dot {
  height: 200px;
  width: 200px;
  background-color: lightblue;
  border-radius: 50%;
  border: 2px solid lightblue;
  display: inline-block;
  position: absolute;
  z-index: 10 !important;
}

.dot1 {
  bottom: 1%;
  left: 15%;
}

.dot2 {
  bottom: 20%;
  left: 2%;
}

.dot3 {
  bottom: 45%;
  left: 13%;
}

.dot4 {
  bottom: 67%;
  left: 42%;
}

.dot5 {
  bottom: 1%;
  right: 15%;
}

.dot6 {
  bottom: 20%;
  right: 2%;
}

.dot7 {
  bottom: 45%;
  right: 13%;
}

.kotak {
  height: 100%;
  width: 100%;
  background-color: #bbb;
  display: inline-block;
  position: absolute;
  z-index: 5 !important;
  overflow: hidden;
}


.video-view2, .video-placeholder2{
  height: 100vh;
  width: 100vw;
  display: inline-block;
  position: absolute;
  /* overflow: hidden; */
}
