

      .wrap-aisle{
        background-color: lightgrey;
        height: 100vh;
      }

      .streaming-vcall{
        width: 50%;
        height: 80%;
        background-color: lightblue;
        position: relative;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
      }

      .streaming-vcall iframe{
        width: 90%;
        height: 60%;
        position: absolute;
        left: 50%;
        top: 6%;
        transform: translateX(-50%);
        margin: 0 auto;
      }

      .wrap-running-text{
        /* border: 1px solid red; */
        position: absolute;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
      }

      .wrap-rt-1{
        top: 72%;
      }

      .wrap-rt-2{
        top: 80%;
      }

      .static-text h5{
        display: inline-block;
        padding: 0 2%;
        /* border: 1px solid blue; */
      }

      .static-text h6{
        display: inline-block;
        width: 63%;
        /* border: 1px solid blue; */
        float: right;
      }

      .marquee {
        /* position: fixed; */
        position: relative;
        top: 10%;
        left: 0;
        width: 60%;
        /* height: 100vh; */
        /* border: 1px solid red; */
        float: right;
        overflow: hidden;
      }

      .marquee .inner {
        position: relative;
        width: 100%;
        display: flex;
        color: black;
        /* border: 1px solid blue; */
      }

      .marquee .inner > * {
        white-space: nowrap;
        padding: 0 4rem;
      }
