.entertainment-page {
  background-image: url("../images/entertainment-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 90%;
  overflow: hidden !important;
  width: 100vw !important;
  height: 100vh !important;
  font-family: 'Kodchasan', sans-serif;
}

.home-button {
  position: absolute;
  margin: 1.5%;
}

.home-button:hover {
  cursor: pointer;
}

.home-button img {
  width: 70%;
}

.modal {
  display: none;
  z-index: 12;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  box-sizing: border-box;
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 2%;
  text-align: center;
  border-radius: 3rem;
}

/* Modal Vcall */
.content-vcall {
  width: 32%;
  padding: 5% 2%;
}

.content-vcall h4 {
  width: 85%;
  margin: auto;
}

/* Main entertainment page */
.box-wrapper {
  position: absolute;
  top: 40%;
  left: 20%;
  width: 35%;
  height: 20%;
  display: flex;
}

.box-wrapper img {
  display: inline-block;
  width: 30%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.box-wrapper p {
  color: white;
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.box-wrapper a:hover{
  text-decoration: none;
}

.box {
  width: 50%;
  margin: 1%;
  background-color: rgba(221, 77, 244, 0.16);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5), 0px 4px 15px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

/* PAGE */
.content-wrapper {
  background-color: rgba(221, 77, 244, 0.16);
  color: white;
  width: 60%;
  height: 70%;
  /* margin: auto; */
  padding: 1%;
  position: relative;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5), 0px 4px 15px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

.back-button {
  height: 100%;
}

.back-button img {
  width: 40%;
  display: inline-block;
}

.back-button p {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 12px;
  margin: 0;
}

.left-wrapper {
  width: 20%;
  float: left;
}

.video-wrapper {
  width: 80%;
  height: 100%;
  float: right;
}

/* .content-wrapper p {
  font-size: 20px;
  width: 85%;
  margin-top: 2%;
} */

.videoWrapper {
  /* position: relative; */
  /* padding-bottom: 56.25%;  /* 16:9 */

  /* height: 0; */
}

/* .videoWrapper::before {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5), 0px 4px 15px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  z-index: 2;
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 60%;
  z-index: 1;
  /* border: 5px solid blue; */
}

@media screen and (min-width:1900px) {
  .home-button img {
    width: 100%;
  }

  .video-kecil {
    display: none;
  }

  .content-wrapper p {
    font-size: 26px;
  }
}

@media screen and (max-width:1400px) {
  .home-button img {}

  .videoWrapper iframe {
    width: 16%;
    height: 9%;
    z-index: 1;
  }

  .video-besar {
    display: none;
  }
}
