body{
  padding: 0;
  margin: 0;
}

/* Modal Vcall */
.content-vcall {
  width: 32%;
  padding: 3%;
}

.content-vcall h4 {
  margin: auto;
  margin-bottom: 7%;
}

.content-vcall h5 {
  font-weight: normal;
}

.slide{
  width: 200vw;
  height: 100vh;
}

.wrapper{
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.one{
  background-color: pink;
}

.two{
  background-color: blue;
}

.three{
  background-color: red;
}

.four{
  background-color: grey;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display:none;
}

.wrapperFoto1{
  /* background-color: rgba(221, 77, 244, 0.16); */
  color: white;
  width: 125%;
  height: 100%;
  margin: auto;
  padding: 1%;
  position: relative;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5), 0px 4px 15px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

.back-button {
  height: 100%;
}

.back-button img {
  width: 12%;
  display: inline-block;
}

.back-button p {
  display: inline-block;
  vertical-align: middle;
  width: 15%;
  font-size: 12px;
  margin: 0;
}

.left-wrapper {
  width: 40%;
  float: left;
}

.right-wrapper{

}

.foto1{
  width: 50%;
}
