body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.gallery-page {
  background-image: url("../images/gallery-background2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 80%;
  overflow: hidden !important;
  width: 100vw !important;
  height: 100vh !important;
  font-family: 'Kodchasan', sans-serif;
}

.home-button {
  position: absolute;
  margin: 1%;
}

.home-button:hover {
  cursor: pointer;
}

.home-button img {
  width: 70%;
}

/* MODAL */
.modal {
  display: none;
  z-index: 12;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  box-sizing: border-box;
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 2%;
  text-align: center;
  border-radius: 3rem;
}

/* Modal Vcall */
.content-vcall {
  width: 32%;
  padding: 3%;
}

.content-vcall h4 {
  margin: auto;
  margin-bottom: 7%;
}

.content-vcall h5 {
  font-weight: normal;
}

.judul{
  width: 80%;
  font-weight: bold;
  height: 23%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
}

/* box */
.wrapper-prewed{
  width: 12%;
  height: 23%;
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.wrapper-lamaran{
  width: 12%;
  height: 23%;
  position: absolute;
  top: 43%;
  left: 28%;
  cursor: pointer;
}

.wrapper-akad{
  width: 13%;
  height: 23%;
  position: absolute;
  top: 43%;
  right: 29%;
  cursor: pointer;
}

/* AKAD - lAMARAN */
.content-wrapper {
  background-color: rgba(221, 77, 244, 0.16);
  color: white;
  width: 97%;
  height: 70%;
  margin: auto;
  padding: 1%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5), 0px 4px 15px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

.akad, .lamaran{
  z-index: 11;
  display: none;
}

.back-button {
  /* height: 100%; */
}

.back-button img {
  width: 12%;
  display: inline-block;
  cursor: pointer;
}

.back-button p {
  display: inline-block;
  vertical-align: middle;
  width: 15%;
  font-size: 1vw;
  margin: 0;
}

.left-wrapper {
  width: 40%;
  float: left;
}

.text-content {
  margin: 5% 0 auto 5%;
}

.text-content p {
  width: 80%;
  margin-bottom: 0;
  font-size: 1.3vw;
}

.text-content h4 {
  margin-bottom: 4%;
  font-size: 2vw;
}

.custom-p {
  margin-top: 5%;
}

.video-wrapper-2 {
  width: 60%;
  height: 100%;
  float: right;
}

.video-wrapper-2 iframe {
  width: 100%;
  height: 100%;
}

a, a:hover, a:focus{
  text-decoration: none;
  color: black;
}

.img-home{
  width: 74.5%;
}


/* LIVE MC */
.live-mc {
  position: absolute;
  right: 2%;
  width: 20%;
  height: 60%;
  bottom: -10%;
  background: url('../images/tvmc.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 150% auto;
  z-index: 10;
  /* border: 1px solid red; */
}

.video-mc {
  position: absolute;
  right: 1.5%;
  width: 20%;
  height: 60%;
  bottom: 2%;
  /* border: 1px solid black; */
}

.video-wrapper {
  position: relative;
  top: 57.5%;
  align-items: center;
  margin: auto;
  width: 60%;
  height: 40%;
  z-index: 9;
  /* border: 1px solid blue; */
}

.video-wrapper iframe {
  -webkit-mask-image: url('../images/mask2.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  width: 95%;
  height: 80%;
  margin: auto;
  z-index: 9;
}

@media screen and (min-width: 1900px){
  .home-button img {
    width: 100%;
  }

  .judul{
    font-size: 2rem;
    width: 60%;
  }

  .content-wrapper-1{
    top: 17%;
    height: 22%;
  }

  .content-wrapper-1 .judul{
    left: 40%;
    transform: translateX(-40%) translateY(-40%);
  }

  .content-wrapper-2{
    top: 17%;
    height: 22%;
  }

  .content-wrapper-3{
    top: 41.5%;
    height: 24%;
  }

  .img-home{
    width: 105%;
  }

  .foto-wrapper-1{
    top: 16%;
    left: 41.2%;
  }

  .foto-wrapper-2{
    top: 42%;
  }

  .foto-wrapper-3{
    top: 42%;
    left: 55%;
  }

  .foto-wrapper-4{
    top: 68.5%;
    left: 40.9%;
  }

  .foto-wrapper-4 img{
    width: 108%;
  }
}
